<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseKiaalap}">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>

<body>


	<div layout:fragment="content">

		<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>


		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="product-payment-inner-st">
						<div class="sparkline13-hd">
							<div class="main-sparkline13-hd">
								<h1>Modificar proveedor</h1>
							</div>
						</div>
						<form th:action="@{/updateProveedor}" method="POST" th:object="${proveedor}"
							class="dropzone dropzone-custom needsclick add-professors" name="upproveedor"
							id="upproveedor">



							<div class="row">
								<input type="hidden" th:field="*{nro}" />


								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="login2">Nro. de registro </label>
										<input name="nroregistro" type="number" class="form-control"
											placeholder="Número de registro" th:field="*{nroRegistro}">
									</div>
									<div class="form-group">
										<label class="login2">Nro. de contrato </label>
										<input name="nrocontrato" id="nrocontrato" type="text" class="form-control"
											placeholder="Número de contrato" th:field="*{nroContrato}">
									</div>
									<div class="form-group">
										<label class="login2">Nombre del proveedor </label>
										<input name="nombreproveedor" id="nombreproveedor" type="text"
											class="form-control" placeholder="Nombre del proveedor"
											th:field="*{nombreProveedor}">
									</div>
									<div class="form-group">
										<label class="login2">Alias </label>
										<input name="alias" id="alias" type="text" class="form-control"
											placeholder="Alias" th:field="*{aliasProveedor}">
									</div>
									<div class="form-group">
										<label class="login2">Tipo de contrato </label>
										<select data-placeholder="--Seleccione tipo de contrato--"
											id="loadTipoContratoFragment" class="form-control" required="true"
											th:field="*{tipoContrato.nro}">
											<option value="-1">--Seleccione tipo de contrato--</option>

											<option th:each="tipocontrato :${tipocontratos}"
												th:value=" ${tipocontrato.nro}" th:text="${tipocontrato.tipoContrato}">
											</option>

										</select>
									</div>
									<div class="form-group">
											<label class="login2">Fecha de suscripción </label>
											<div class="data-custon-pick data-custom-mg" id="data_5">
												<div class="input-group ">
													<span class="input-group-addon"><i
															class="fa fa-calendar"></i></span>
													<input id="fechasuscripcion" type="text" class="form-control"
														placeholder="Fecha de suscripcion"
														th:field="*{fechaSuscripcion}">
												</div>
											</div>
										</div>
									<div class="form-group">
											<label class="login2">Vigencia </label>
											<div class="data-custon-pick data-custom-mg" id="data_5">
												<div class="input-group ">
													<span class="input-group-addon"><i
															class="fa fa-calendar"></i></span>
													<input id="fechavigencia" type="text" class="form-control"
														placeholder="Fecha de suscripcion"
														th:field="*{vigencia}">
												</div>
											</div>
										</div>
									<div class="form-group">
										<label class="login2">Ficha del cliente </label>
										<input name="fichacliente" id="fichacliente" type="text" class="form-control"
											placeholder="Ficha del cliente" th:field="*{fichaCliente}">
									</div>
									<div class="form-group">
										<label class="login2">Código REUP </label>
										<input name="codigo" id="codigo" type="text" class="form-control"
											placeholder="Código REUP" th:field="*{codigoREUP}">
									</div>
									<div class="form-group">
										<label class="login2">Cuenta bancaria </label>
										<input name="cuenta" id="cuenta" type="number" class="form-control"
											placeholder="Cuenta bancaria" th:field="*{cuentaBancaria}">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="form-group">
										<label class="login2">Teléfono </label>
										<input name="telefono" id="telefono" type="text" class="form-control"
											placeholder="Teléfono" th:field="*{telefono}">
									</div>
									<div class="form-group">
										<label class="login2">Email </label>
										<input name="email" id="email" type="text" class="form-control"
											placeholder="Email" th:field="*{email}">
									</div>
									<div class="form-group">
										<label class="login2">Dirección </label>
										<input name="direccion" id="direccion" type="text" class="form-control"
											placeholder="Dirección" th:field="*{direccion}">
									</div>
									<div class="form-group">
										<label class="login2">Provincia </label>
										<select data-placeholder="--Seleccione la provincia--" name="provincia"
											id="provincia" class="form-control" required="true">
											<!--		<option th:text="*{municipio.provincia.nomb_prov}"  th:value=" ${municipio.provincia.id}"></option>-->
											<option th:each="prov :${provincias}" th:value=" ${prov.id}"
												th:text="${prov.nombProv}"></option>

										</select>
									</div>
									<div class="form-group">
										<div class="form-group">
											<label class="login2">Municipio </label>
											<select name="municipio" id="loadMunicipiosFragment" class="form-control"
												required="true">
												<option th:each="municipio:${municipios}" th:value="${municipio.id}"
													th:text="${municipio.nomb_mun}"></option>

											</select>
										</div>
									</div>
									<div class="form-group res-mg-t-15">
										<label class="login2">Observaciones </label>
										<textarea name="observaciones" placeholder="Observaciones" id="observaciones"
											th:field="*{observaciones}"></textarea>
									</div>
									<div class="form-group">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<label class="login2 pull-right pull-right-pro">Dictaminado </label>
										</div>
										<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
											<div class="inline-checkbox-cs">






												<div th:if="*{dictaminado=='si' || dictaminado=='Si'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="dictaminado" checked  value="si">
														<i></i> Si </label>
												</div>


												<div th:if="*{dictaminado=='no' || dictaminado=='No'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="dictaminado" checked value="no">
														<i></i> No </label>
												</div>


												<div th:if="*{dictaminado=='no'  || dictaminado=='No'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="dictaminado" value="si">
														<i></i> Si </label>
												</div>


												<div th:if="*{dictaminado=='si' || dictaminado=='Si'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="dictaminado" value="no">
														<i></i> No </label>
												</div>






											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<label class="login2 pull-right pull-right-pro">Vencido </label>
										</div>
										<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
											<div class="inline-checkbox-cs">





												<div th:if="*{vencido=='si' || vencido=='Si'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="vencido" checked value="si">
														<i></i> Si </label>
												</div>


												<div th:if="*{vencido=='no' || vencido=='No'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="vencido" checked value="no">
														<i></i> No </label>
												</div>


												<div th:if="*{vencido=='no' || vencido=='No'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="vencido" value="si">
														<i></i> Si </label>
												</div>


												<div th:if="*{vencido=='si' || vencido=='Si'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="vencido" value="no">
														<i></i> No </label>
												</div>















											</div>
										</div>
									</div>





									<div class="form-group">
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<label class="login2 pull-right pull-right-pro">Notificar </label>
										</div>
										<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
											<div class="inline-checkbox-cs">






												<div th:if="*{notificar=='si' || notificar=='Si'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="notificar" checked value="si">
														<i></i> Si </label>
												</div>


												<div th:if="*{notificar=='no' || notificar=='No'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="notificar" checked value="no">
														<i></i> No </label>
												</div>


												<div th:if="*{notificar=='no' || notificar=='No'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="notificar" value="si">
														<i></i> Si </label>
												</div>


												<div th:if="*{notificar=='si' || notificar=='Si'}">
													<label class="checkbox-inline i-checks pull-left">
														<input id="notificarsi" type="radio" name="notificar" value="no">
														<i></i> No </label>
												</div>







											</div>
										</div>
									</div>
								</div>
							</div>




							<div class="row">
								<div class="col-lg-12">
									<div class="payment-adress">
										
										<a class="btn btn-primary waves-effect waves-light"
											href="${path}/Gestion_Proveedor"><li class="fa fa-newspaper-o"></li> Cancelar</a>
											
											<button type="submit" onclick="validate_exist()" id="update"
											class="btn btn-primary waves-effect waves-light"><li class="fa fa-save"></li> Aceptar</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>




		<script>
			$(document).ready(function () {
				$('#provincia').change(function () {
					// var contextPath = "<%=request.getContextPath()%>";
					//var username = $('#username').val();

					var provincia = $('#provincia').val();



					//var newpassword = $('#newpassword').val();
					//	var newpassword2 = $('#newpassword2').val();
					dir = '/getMunicipioByProvincia/' + provincia;
					$.ajax({
						url: '/getMunicipioByProvincia',
						dataType: 'html',
						data: {
							provincia: provincia,
							//newpassword : newpassword
						},
						success: function (data) {


							//$('#loadMunicipiosFragment').addClass('chosen-select').trigger('change');
							// $("#loadTableFragment").empty();
							$("#loadMunicipiosFragment").load('/getMunicipioByProvincia', $("#provincia").serialize());

							// $("#usuario").addClass("flat");


						},
						error: function (data) {
							toastr["error"](data.body,
								data.titulo);
							console.log("No hay resultado");
						}

					});

				});
			});


		</script>


	</div>

</body>

</html>