<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseKiaalap}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>


	<!-- SELECT2 -->



</head>

<body>




	<div layout:fragment="content">
		<div class="single-pro-review-area mt-t-30 mg-b-15">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="product-payment-inner-st">
							<div class="sparkline13-hd">
								<div class="main-sparkline13-hd">
									<h1 th:text="#{Reset.password}"></h1>
								</div>
							</div>
							<form method="POST" th:action="@{/resetPassword}">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">



										<div class="form-group">

											<label class="login2">Usuario </label>
											<select id="usernamee" name="usernamee"
												data-placeholder="Seleccione usuario" aria-describedby=""
												class="form-control select2">
												<option value="-1">Seleccione usuario</option>
												<option th:each="user: ${users}" th:value="${user.id}"
													th:text="${user.usernamee}"></option>
											</select>


										</div>









										<div class="form-group">
											<label class="login2">Contraseña nueva: </label> <input name="passwordnew"
												id="passwordnew" type="password" class="form-control" placeholder="Usuario">
										</div>

										<div class="form-group">
											<label class="login2">Confirmar contraseña: </label> <input
												name="passwordnew1" id="passwordnew1" type="password" class="form-control"
												placeholder="Usuario">
										</div>






									</div>
								</div>
								<br />
								<div class="row">
									<div class="col-lg-12">
										<div class="payment-adress">
											<a class="btn btn-primary waves-effect waves-light"
												th:href="@{/listusuarios}"><i class="fa fa-users"></i> Cancelar</a>
											<button type="button" class="btn btn-primary waves-effect waves-light"
												onclick="resetPassword();" id="resetpassword"><i class="fa fa-save"></i> Aceptar</button>

										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>



		<script th:inline="javascript" charset="utf-8">






			function resetPassword() {
				var username = $('#usernamee').val();
				var password = $('#passwordnew').val();
				var password1 = $('#passwordnew1').val();


				//validar si las pass coinciden 

				if (password == password1) {
					$.ajax({
						url: '/resetPassword',
						dataType: 'json',
						method: 'POST',
						data: {
							username: username,
							password: password
						},
						success: function (data) {




							$("#usernamee").load('/getUsers');

							$('#passwordnew').val('');
							$('#passwordnew1').val('');

							toastr[data.msgtype](data.msgbody, data.msgtitle);
						},
						error: function (data) {

							var type =/*[[#{Form.vacio.type}]]*/;
							var body =/*[[#{Form.vacio.body}]]*/;
							var title =/*[[#{Form.vacio.title}]]*/;
							toastr[type](body, title);
							console.log("No hay resultado");
						}
					});
				} else {
					var type =/*[[#{Reset.password.type}]]*/;
					var body =/*[[#{Reset.password.body}]]*/;
					var title =/*[[#{Reset.password.title}]]*/;
					toastr[type](body, title);
				}







			}



		</script>

	</div>

</body>

</html>