<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{templateBase/BaseKiaalap}">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>

	<script th:src="@{/servicios.js}"></script>

</head>

<body>


	<div layout:fragment="content">

		<script th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>


		<div class="single-pro-review-area mt-t-30 mg-b-15">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="product-payment-inner-st">
							<div class="sparkline13-hd">
								<div class="main-sparkline13-hd">
									<h1>Agregar servicio</h1>
								</div>
							</div>
							<form th:action="@{/add_Servicio_Id}" method="POST" th:object="${servicio}"
								class="dropzone dropzone-custom needsclick add-professors" name="addservicioid"
								id="addservicioid">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

										<div class="form-group ">
											<label class="login2">Grupo </label>
											<select name="grupo" id="loadGrupoFragment" th:field="*{grupo.name}"
												style="width: 100%;" data-placeholder="--Seleccione el grupo--"
												class="select2" required="true">
												<option value="-1">--Seleccione el grupo--</option>
												<option th:each="grupo :${listgrupos}" th:value="${grupo.name}"
													th:text="${grupo.name}"></option>
											</select>

											<div class="form-group">
												<button id="addcontrato" title="Añadir contrato" type="button"
													class="btn btn-success waves-effect " data-toggle="modal"
													data-target="#DetailModalAddGroup">
													+ Add grupo</button>
											</div>


										</div>
										<div class="form-group">
											<label class="login2">Nro. de contrato </label>
											<select name="contrato" id="contrato" th:field="*{cliente.nro}"
												data-placeholder="--Seleccione el número de contrato--"
												class="form-control select2" required="true">
												<option value="-1">--Seleccione el número de contrato--</option>
												<option th:each="cliente :${listclientes}" th:value="${cliente.nro}"
													th:text="${cliente.nroContrato}"></option>
											</select>
										</div>
										<div class="form-group">
											<label class="login2">Nro. de factura </label>
											<input name="nrofactura" id="nrofactura" type="text" class="form-control"
												th:field="*{nroFactura}" required="true" placeholder="Nro. de factura">
										</div>
										<div class="form-group">
											<label class="login2">Fecha de servicio </label>
											<div class="form-group data-custon-pick" id="data_1">

												<div class="input-group ">
													<span class="input-group-addon"><i
															class="fa fa-calendar"></i></span>
													<input id="fechaservicio" type="text" class="form-control"
														placeholder="Fecha de servicio" th:field="*{fechaServicio}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="login2">Cultivo dañado </label>
											<input name="cultivo" id="cultivo" type="text" class="form-control"
												required="true" placeholder="Cultivo dañado" th:field="*{cultivo}">
										</div>
										<div class="form-group">
											<label class="login2">Tipo de afectación </label>
											<input name="tipo_afectacion" id="tipo_afectacion" type="text"
												class="form-control" placeholder="Tipo de afectación"
												th:field="*{tipoAfectacion}" required="">
										</div>
									</div>

									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="form-group">
											<label class="login2">Fecha de servicio </label>
											<div class="form-group data-custon-pick" id="data_1">

												<div class="input-group ">
													<span class="input-group-addon"><i
															class="fa fa-calendar"></i></span>
													<input id="fechaafectacion" type="text" class="form-control"
														placeholder="Fecha de afectación" th:field="*{fechaAfectacion}">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="login2">Zona afectada </label>
											<input name="zona_afectacion" id="zona_afectacion" type="text"
												class="form-control" placeholder="Zona afectada"
												th:field="*{zonaAfectacion}">
										</div>
										<div class="form-group">
											<label class="login2">Provincia </label>
											<select name="provincia" id="provincia" class="form-control select2"
												required="true">
												<option th:each="provincia:${provincias}" th:value="${provincia.id}"
													th:text="${provincia.nombProv}"> </option>

											</select>
										</div>
										<div class="form-group">
											<label class="login2">Municipio </label>
											<select name="municipio" id="loadMunicipiosFragment"
												class="form-control select2" required="true">
												<option th:value="${municipio.id}" th:text="${municipio.nomb_mun}">
												</option>

											</select>
										</div>
										<div class="form-group">
											<div class="form-select-list">
												<label class="login2">Pueblo </label>
												<select name="pueblo" class="form-control select2"
													id="loadPueblosFragment" th:field="*{pueblo.id}" required="true">
													<option th:value="${pueblo.id}" th:text="${pueblo.nomb_pueb}">
													</option>

												</select>
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
												<label class="login2 pull-right pull-right-pro">Entregado </label>
											</div>
											<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
												<div class="inline-checkbox-cs">
													<label class="checkbox-inline i-checks pull-left">
														<input type="radio" value="Si" name="entregado" id="entregado1"
															th:field="*{entregado}">
														<i></i> Si </label>
													<label class="checkbox-inline i-checks pull-left">
														<input type="radio" value="No" name="entregado"
															th:field="*{entregado}" id="entregado2"> <i></i> No </label>
												</div>
											</div>
										</div>

									</div>
								</div>
								


						



								<div class="row">
									<div class="col-lg-12">
										<div class="payment-adress">
										<a class="btn btn-primary waves-effect waves-light"
												th:href="@{/listservicios}">Cancelar</a>
											<button type="submit"
												class="btn btn-primary waves-effect waves-light"><i class="fa fa-save"></i> Aceptar</button>
												
												<input type="submit"  class="btn btn-primary">
											
										</div>
									</div>
								</div>
								
								
										<!-- modal add group-->
								<div id="DetailModalAddGroup"
									class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header header-color-modal bg-color-1">
												<h4 class="modal-title">Add Grupo</h4>
												<div class="modal-close-area modal-close-df">
													<a class="close" data-dismiss="modal" href="#"><i
															class="fa fa-close"></i>
													</a>
												</div>
											</div>
											<div class="modal-body">
												<div class="row">

													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<div class="devit-card-custom">
															<div class="row">
																<div class="form-group">
																	<input class="form-control" placeholder="Group"
																		name="grupo" required="true" type="text"
																		id="grupo">
																</div>
															</div>
														</div>
													</div>
												</div>

												<div class="modal-footer">
													<div class="button-drop-style-one btn-default-bg">


														<button class="btn btn-primary waves-effect waves-light"
															data-dismiss="modal"><i class="fa fa-close"></i>
															Cancelar</button>


														<button type="button"
															class="btn btn-primary waves-effect waves-light"
															onclick="addGroup();" data-dismiss="modal"><i
																class="fa fa-save"></i>
															Aceptar</button>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>







		</div>









		<script type="text/javascript" charset="UTF-8" th:inline="javascript">








			$(document).ready(function () {

				$('#fechaservicio').datepicker({
					startView: 1,
					todayBtn: "linked",
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					format: "dd-mm-yyyy"
				});


				$('#fechaafectacion').datepicker({
					startView: 1,
					todayBtn: "linked",
					keyboardNavigation: false,
					forceParse: false,
					autoclose: true,
					format: "dd-mm-yyyy"
				});




				$('#provincia').change(function () {
					var provincia = $('#provincia').val();
					dir = '/getMunicipioByProvincia/' + provincia;
					$.ajax({
						url: '/getMunicipioByProvincia',
						dataType: 'html',
						data: {
							provincia: provincia,
						},
						success: function (data) {
							$("#loadMunicipiosFragment").load('/getMunicipioByProvincia', $("#provincia").serialize());
							if (provincia === "-1") {
								$("#addpueblo").prop("disabled", "disabled");
								$("#loadPueblosFragment").prop("disabled", "disabled");
							}
						},
						error: function (data) {
							toastr["error"](data.body,
								data.titulo);
							console.log("No hay resultado");
						}

					});

				});
			});





			$(document).ready(function () {
				$('#loadMunicipiosFragment').change(function () {
					var municipio = $('#loadMunicipiosFragment').val();
					dir = '/getPuebloByMunicipio/';
					$.ajax({
						url: '/getPuebloByMunicipio',
						dataType: 'html',
						data: {
							municipio: municipio,
						},
						success: function (data) {
							$("#loadPueblosFragment").load('/getPuebloByMunicipio', $("#loadMunicipiosFragment").serialize());
							$("#addpueblo").removeAttr("disabled");
							$("#loadPueblosFragment").removeAttr("disabled");

						},
						error: function (data) {
							toastr["error"](data.body,
								data.titulo);
							console.log("No hay resultado");
						}

					});

				});
			});




		</script>




	</div>








</body>

</html>